*{
  box-sizing: border-box;
}
.main
{
  margin: 0;
  background: url(cool.jpg);
  background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5));
  background-size: cover;
  background-color: #2c5282;
}

nav{
  background-image: linear-gradient(to right, #2952a3, #c2d1f0);
  width: 100%;
  overflow: auto;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
li{
  float: left;
}

nav a{
  width: 120px;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  color: white;
  padding: 20px 10px;
  font-family: inherit;
}

nav a:hover{
  background-color: skyblue;
  color: black;
}

.gallery-container{
  max-width: 1200px;
  margin: auto;
  overflow: auto;
}

.image-preview{
  margin: 5px;
  float: left;
  width: 390px;

}
.gallery-container a div{
  width: 100%;
  height: 100px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: contain;
}


.head{
  background-image: linear-gradient(to right, #2952a3, #c2d1f0);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
}

.head h1{
  text-align: center;
  font-size: 50px;
  color: #fff;;
}
/*
.inputtype{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}



.gallery-container{
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  margin: auto;
  background: #f2f2f2;
  overflow: auto;

}

.gallery-container a{
  display: inline-grid;
  flex-basis: 23%;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 390px;

}

.gallery-container a div{
  width: 100%;
  height: 100px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: contain;
}

*/
.gallery-container a h2{
  align-items: flex-end;
  text-align: center;
  font-style: normal;
  font-size: 20px;
  font-family: inherit;
  color: skyblue;
}

.foot{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to right, #2952a3, #c2d1f0);
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: inherit;
  letter-spacing: 1px;
  padding: 10px;
  font-size: 17px;
}
/*
.upload{
  width: 120px;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  color: white;
  padding: 20px 10px;
  font-family: inherit;
}

*/
@media only screen and (min-width:762px) {

}
